<div class="container" animate-container>
  <div class="row">
    <div class="col-lg-8 col-md-8">
      <div class="container-fluid form-groups-wrapper">
        <h1 class="caption">Welcome</h1>

        <div class="signup-text">
          <!--<img src="images/partners/running.png" alt="" align="left"/>-->

          <p class="lead">
            Why it’s so cool or why I want to become FeelMeOnline.com Partner?
          </p>

          <p>
            <p>- Regular guaranteed payments of the earned money 2 times a month;</p>
            <p>- The minimum payout is only 50 USD;</p>
            <p>- Payments to the Payoneer card;</p>
            <p>- Maximum security, reliability, anonymity in the work;</p>
            <p>- Simple and favorable conditions for cooperation;</p>
            <p>- Convenient tools for advertising on the Internet and attracting Adult Traffic;</p>
            <p>- Detailed statistics and user-friendly interface of the site;</p>
            <p>- You will receive up to 30% of sales;</p>
            <p>- Always prompt, professional and friendly customer service.</p>
          </p>
      </div>
    </div>
      <div class="container-fluid form-groups-wrapper">
        <h1 class="caption">News</h1>
        <div class="signup-text">
          <!--<img src="images/partners/locked.png" alt="" align="left"/>-->
          <p>
            Attention! Attention! Very soon, already 15 Brumaire in 2666 we will open!  Do not miss your chance to be the first partner, who will get money with Partners.FeelMeOnline.com! You can already register!
          </p>
        </div>
      </div>
  </div>
  <div class="col-lg-4 col-md-4">
    <div class="container-fluid form-groups-wrapper">
      <h1 class="caption">Register Affiliate</h1>
      <div class="messages success" ng-show="messages">{{messages}}</div>
      <form action="" role="form" class="form-horizontal signup-form" ng-submit="signup()" novalidate>
        <!--<img src="images/partners/locked.png" alt="" align="left">-->
        <div ng-class="{'has-error': errors.name}" class="form-group">
          <label for="login">Name (login):</label>
          <input ng-input-validator error-message="errors.name" error-placement="left" id="login" name="login" type="text" ng-model="form.name" ng-focus="errors.name=null" ng-click="errors.name=null" class="form-control" ng-disabled="preload"/>
        </div>
        <div ng-class="{'has-error': errors.password}" class="form-group">
          <label for="password">Password:</label>
          <input ng-input-validator error-message="errors.password" error-placement="left" id="password" name="password" type="password" ng-model="form.password" ng-focus="errors.password=null" ng-click="errors.password=null" class="form-control" ng-disabled="preload"/>
        </div>
        <div ng-class="{'has-error': errors.passwordConfirmation}" class="form-group">
          <label for="passwordConfirmation">Confirm password:</label>
          <input ng-input-validator error-message="errors.passwordConfirmation" error-placement="left" id="passwordConfirmation" name="passwordConfirmation" type="password" ng-model="form.passwordConfirmation"
                 class="form-control" ng-focus="errors.passwordConfirmation=null" ng-click="errors.passwordConfirmation=null" ng-disabled="preload"/>
        </div>
        <div ng-class="{'has-error': errors.email}" class="form-group">
          <label for="email">Email:</label>
          <input id="email" ng-input-validator error-message="errors.email" error-placement="left" name="email" type="email" ng-model="form.email" ng-focus="errors.email=null" class="form-control" ng-disabled="preload"/>
        </div>
        <div class="form-group">
          <label>
            <input type="checkbox" name="termsCheckbox" ng-model="termsCheckbox" ng-input-validator error-message="errors.terms" ng-change="termsChange()" /> <a ui-sref="terms">Terms & Conditions</a>
          </label>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-block btn-info" ng-disabled="preload"><span ng-class="{'fa fa-refresh fa-spin': preload,'fa fa-pencil': preload === false}"></span> {{ !preload ? 'Sign Up' : '' }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
