<header>
  <nav class="navbar navbar-embossed navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainmenu"></button>
        <a class="navbar-brand" href="#">Affiliate</a>
      </div>
      <div class="navbar-collapse collapse" id="mainmenu">
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{active: $state.includes('home') || $state.includes('dashboard')}">
            <a href="#"><span class="fa fa-home"></span> Home</a>
          </li>
          <li ng-show="user" ng-class="{active: $state.includes('about')}">
            <a href ui-sref="statistic"><i class="fa fa-bar-chart"></i> Statistic</a>
          </li>
          <li ng-hide="user" ng-class="{active: $state.includes('about')}">
            <a href="#"><i class="fa fa-info"></i> About</a>
          </li>
          <li ng-hide="user" ng-class="{active: $state.includes('promo')}">
            <a href="#"><i class="fa fa-film"></i> Promo</a>
          </li>
          <li ng-show="user" class="dropdown">
            <a href class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-film"></i> Promo <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <!--<li><a href="#">Popunder</a></li>-->
                <li><a ui-sref="popup">PopUp</a></li>
                <li><a ui-sref="links">Links</a></li>
                <li><a ui-sref="banners_list">Banners</a></li>
              </ul>
          </li>
          <li ng-show="user" ng-class="{active: $state.includes('profile')}" class="dropdown">
            <a href class="dropdown-toggle" data-toggle="dropdown">
              <spam class="fui-gear"></spam> Profile <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a ui-sref="payment">Payment</a></li>
              <li><a ui-sref="campaign">Campaigns</a></li>
              <li><a ui-sref="settings">Settings</a></li>
            </ul>
          </li>
          <li ng-class="{active: $state.includes('help')}">
            <a href ui-sref="help"><span class="fa fa-question"></span> Help</a>
          </li>
          <li ng-hide="!user">
            <button class="btn btn-info navbar-btn" ng-click="logout()"><span class="fa fa-sign-out"></span> Logout</button>
          </li>
          <li ng-show="!user">
            <button ui-sref="signin" class="btn btn-primary navbar-btn"><span class="fa fa-lock"></span> Sign In</button>
          </li>
          <li ng-show="!user">
            <button ui-sref="signup" class="btn btn-info  navbar-btn"><span class="fa fa-pencil"></span> Sign Up</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>