<header>
  <nav class="navbar navbar-embossed navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainmenu"></button>
        <a class="navbar-brand" href="#">Affiliate</a>
      </div>
      <div class="navbar-collapse collapse" id="mainmenu">
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{active: $state.includes('home') || $state.includes('dashboard')}">
            <a href="#">Home</a>
          </li>
          <li ng-class="{active: $state.includes('about')}">
            <a href="#">About</a>
          </li>
          <li ng-hide="user" ng-class="{active: $state.includes('promo')}">
            <a href="#">Promo</a>
          </li>
          <li ng-show="user" class="dropdown">
            <a href class="dropdown-toggle" data-toggle="dropdown">
              Promo <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Popunder</a></li>
                <li><a href="#">PopUp</a></li>
                <li><a href="#">Links</a></li>
                <li><a href="#">Banners</a></li>
              </ul>
          </li>
          <li ng-class="{active: $state.includes('help')}">
            <a href="#">Help</a>
          </li>
          <li ng-hide="user">
            <button ui-sref="signin" class="btn btn-warning  navbar-btn btn-embossed"><span class="fui-lock"></span> Sign In</button>
          </li>
          <li ng-hide="user">
            <button ui-sref="signup" class="btn btn-danger  navbar-btn btn-embossed"><span class="fui-new"></span> Sign Up</button>
          </li>
          <li ng-show="user">
            <button class="btn btn-danger  navbar-btn btn-embossed" ng-click="logout()"><span class="fui-exit"></span> Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>