<header>
  <nav class="navbar navbar-embossed" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainmenu"></button>
        <a class="navbar-brand" href="#"><span ng-i18next="brand"></span><span class="badge">beta</span></a>
      </div>
      <div class="navbar-collapse collapse" id="mainmenu">
        <ul class="nav navbar-nav navbar-right">
          <li ng-class="{active: $state.includes('home') || $state.includes('dashboard')}">
            <a href="#"><span class="fa fa-home"></span> Home</a>
          </li>
          <li ng-show="user" ng-class="{active: $state.includes('about')}">
            <a href ui-sref="statistic"><i class="fa fa-bar-chart"></i> Statistic</a>
          </li>
          <li ng-show="!user" ng-class="{active: $state.includes('about')}">
            <a href="#">About</a>
          </li>
          <li ng-hide="user" ng-class="{active: $state.includes('promo')}">
            <a href="#">Promo</a>
          </li>
          <li ng-show="user" class="dropdown">
            <a href class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa  fa-wrench"></i> Promo tools<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <!--<li><a href="#">Popunder</a></li>-->
                <li><a ui-sref="popup">PopUp</a></li>
                <li><a ui-sref="links">Links</a></li>
                <li><a ui-sref="banners_list">Banners</a></li>
              </ul>
          </li>
          <li ng-show="user" ng-class="{active: $state.includes('profile')}" class="dropdown">
            <a href class="dropdown-toggle" data-toggle="dropdown">
              <spam class="fa fa-user"></spam> My Profile <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a ui-sref="payment">Payment</a></li>
              <li><a ui-sref="campaign">Campaigns</a></li>
              <li><a ui-sref="settings">Settings</a></li>
            </ul>
          </li>
          <li ng-class="{active: $state.includes('help')}">
            <a href ui-sref="help">Support</a>
          </li>
          <li ng-show="user">
            <button class="btn btn-info navbar-btn" ng-click="logout()"><span class="fa fa-sign-out"></span> Sign out</button>
          </li>
          <li ng-hide="user">
            <button ui-sref="signin" class="btn btn-primary navbar-btn"><span class="fa fa-lock"></span> Sign In</button>
          </li>
          <li ng-hide="user">
            <button ui-sref="signup" class="btn btn-info  navbar-btn"><span class="fa fa-pencil"></span> Sign Up</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar-menu left hide-menu" data-navmenu="navmenu">
    <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
    <ul id="submenu" class="hide-menu">
      <li><a href="#"><i class="fa fa-home"></i></a></li>
      <li><a href="#"><i class="fa fa-question"></i></a></li>
      <li><a href="#"><i class="fa fa-cubes"></i></a></li>
      <li><a href="#"><i class="fa fa-headphones"></i></a></li>
    </ul>
  </nav>
</header>
