
.content {
  margin: 10px;
  background: #fff;
  border: 1px solid #eaeaea;
  color: #000;
  padding: 10px;
  &.content-normolize {
    margin: 0;
  }
  &.content-inverse {
    > p {
      &:first-child{
        background: #fcfcfc;
        color: #aeaeae;
        border-bottom: 1px solid #e9e9e9;
      }
      line-height: 40px;
      padding: 6px;
      margin: 0;
    }
    .bg-info {
      background: #f6f6f6;
      font-weight: 500;
      padding: 20px;
    }
  }
  .table {
    color: darken(@color-theme-table, 40%);
    > tbody > tr {
      > td, th {
        border-top-color: @color-theme-table;
      }
    }
  }
  .table-striped {
    > thead > tr
    > th {
      background: #fcfcfc;
      color: #000;
      border-bottom: 1px solid #eaeaea;
      font-family: @color-theme-font;
      font-weight: normal;
      font-size: 15px;
    }
    > tbody > tr:nth-child(odd) {
      > td,
      > th {
        background-color: lighten(@color-theme-table, 15%);
      }
    }
    > tbody > tr:nth-child(even){
      > td, > th {
        background-color: lighten(@color-theme-table, 18%);
      }
    }
    > tbody > tr:last-child{
      > td, > th {
        background-color: lighten(@color-theme-table, 22%);
      }
    }
    > tbody > tr > td {
      border: none;
    }
  }
  &.content-text {
    padding: 10px;
    > p {
      color: #000
    }
  }
}

.animate-container{
  opacity: 0;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  &.start {
    opacity: 1;
  }
};

.spin-preloader{
  display: block;
  padding: 10px;
  text-align: center;
  > .fa-spin{
    margin: 0 auto;
    display: inline-block;
    padding: 15px;
  }
}

.modal-content {
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.2);-moz-box-shadow:  0px 0px 15px rgba(0,0,0,0.2);box-shadow:  0px 0px 15px rgba(0,0,0,0.2);
}


