@import "vars";

.navbar {
  background-color: @color-theme;
  .shadow(0px, 0px, 14px, rgba(0,0,0,0.2));

  .navbar-header {
    > .navbar-brand {
      color: #fff;
    }
    > .navbar-toggle{
        &:before{
          color: darken(@color-theme,15%);
        }
    }
  }

  .navbar-nav {
    > li {
      -webkit-transition: all 200ms linear;
      -moz-transition: all 200ms linear;
      -ms-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      transition: all 200ms linear;
    }
    > li.active {
      > a {
//        background: #0081c2;//#f9f9f9;
//        color: #fff;//#0081c2
        font-weight: 300;
      }
    }
    > li > a {
      color: #0F87C6;
      font-family: @color-theme-font;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 14px;
      -webkit-transition: all 200ms linear;
      -moz-transition: all 200ms linear;
      -ms-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      transition: all 200ms linear;
      opacity: 0.8;
//      width: 120px;
    }
    > li > a:hover {
      //color: #0081c2;
      //font-weight: 200;
//      font-size: 13px;
      opacity: 1;
      //padding-left: 40px;
    }
    > li > .navbar-btn:first-child {
      margin-right: 10px;
    }
    >.dropdown {
      &:hover > .dropdown-menu {
         display: block;
         margin-top: 0px !important;
         border-top: none;
         &:hover{
           display: block;
         }
      }
    }
    > li.dropdown{
      .dropdown-menu{
        background: #fff;
        border: 1px solid #ebebeb;
        li > a {
          color: #000;
          &:hover, &:focus {
            background: #f2f2f2;
          }
        }
      }
    }
  }
}

