html {
  display: block;
}
body{
  margin: 0;
  display: block;
  font-weight: 400;
  font-size: 16px;
  font-family: @color-theme-font;
  background: @color-theme-background;
  > article {
//    padding-bottom: 40px;
    padding: 0px 0px 10px 0px ;
  }
  > footer {
    height: 170px;
    text-align: center;
    padding: 30px 20px 0px 0px;
    border-top: 1px solid #F1F1F1;
    background: transparent;
  }
}
.main-content{
//  margin:0 auto -20px;
  padding-top: 0px;
  &.bg-image {
    // background-image: url("/images/partners/background-image.jpg");
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
  }
}

.socials{
  color: #111;
  font-size: 20px;
  i{
    padding: 5px;
    cursor: pointer;
    &:hover{
      opacity: 0.8;
    }
  }
}
