// form caption colors
@captionTextColor: #fff;
@errorInputBackgroud: #F69999;
@errorTooltipBackground: #BC2D2D;

@color-theme:  @belize-hole;
@color-theme-content: @belize-hole;
@color-theme-table: @silver;
@color-theme-font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;