<div class="container" animate-container>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="container-fluid form-groups-wrapper">
        <h1 class="caption"><i class="fa fa-table"></i> Statistic</h1>

      </div>
    </div>
   </div>
</div>