<div class="container" animate-container>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="container-fluid form-groups-wrapper">
        <h1 class="caption"><i class="fa fa-table"></i> Statistic</h1>
        <div ng-repeat="person in statistic">
							 <td>{{ person.login }}</td>
            	 <td>{{ person.partner_id }}</td>
            	 <td>{{ person.program_id }}</td>
            	 <td>{{ person.campaign_id }}</td>
				</div>
				<table datatable="ng" class="row-border hover">
					<thead>
						<tr>
							<th>User name</th>
							<th>Traking code</th>
							<th>Program ID</th>
							<th>Campaign ID</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="person in statistic">
							 <td>{{ person.login }}</td>
            	 <td>{{ person.partner_id }}</td>
            	 <td>{{ person.program_id }}</td>
            	 <td>{{ person.campaign_id }}</td>
						</tr>
					</tbody>
				</table>
      </div>
    </div>
   </div>
</div>
