<div class="container" animate-container>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="container-fluid form-groups-wrapper">
        <h1 class="caption"><i class="fa fa-dashboard"></i> Dashboard</h1>
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <div class="content content-inverse content-text">
              <p>Welcome: <span>{{user.name}}</span></p>
              <p>Tracking code: <span>{{user.tracking.code}}</span></p>
            </div>
            <!--<div class="content content-inverse content-text">-->
            <!--</div>-->
          </div>
          <div class="col-md-8 col-lg-8">
            <div class="content content-inverse content-text">
              <p>Current balance: 0.00$</p>
              <p>Work for the current week</p>
              <p>
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td>Sales:</td>
                      <td>$0</td>
                    </tr>
                    <tr>
                      <td>Sub-Affiliates:</td>
                      <td>$0</td>
                    </tr>
                    <tr>
                      <td>Bonus:</td>
                      <td>$0</td>
                    </tr>
                    <tr>
                      <td>Total:</td>
                      <td>$0</td>
                    </tr>
                  </tbody>
                </table>
              </p>
              <div class="content content-inverse content-normolize">
                <p>The current rate of contributions</p>
                <p>
                <table class="table table-striped">
                  <tbody>
                  <tr>
                    <td>This site:</td>
                    <td>0%</td>
                  </tr>
                  <tr>
                    <td>Sub-Affiliates:</td>
                    <td>0%</td>
                  </tr>
                  </tbody>
                </table>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>