
<div ui-view="navBarView"></div>
<article class="main-content" ui-view="contentView">
	<span class="spin-preloader"><i class="fa fa-refresh fa-spin"></i></span>
</article>
<footer ui-view="footerView"></footer>

