<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="container-fluid form-groups-wrapper">
        <h1 class="caption"><i class="fa fa-table"></i> Links generator</h1>

        <div class="content content-inverse">
          <div class="row">
            <form novalidate="">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="program">Select program:</label>
                  <select class="form-control" name="program" id="program" ng-model="currentProgramId">
                    <option ng-repeat="program in programs" value="{{program.programID}}">{{program.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="program">Select site:</label>
                  <select class="form-control" name="site" id="site" ng-model="domainName">
                    <option ng-repeat="site in sites" value="{{site.domainName}}" ng-selected="$index == 0">
                      {{site.domainName}}
                    </option>
                  </select>
                </div>
                <div class="form-group radio-group">
                  <p>Link url:</p>
                  <label>
                    <input type="radio" ng-model="linkUrl" value="{{domainName}}" name="linkUrl" checked/>
                    Home page
                  </label>
                  <label>
                    <input type="radio" ng-model="linkUrl" value="{{domainName + '/membersignup1.php'}}"
                           name="linkUrl"/>
                    Register page
                  </label>
                  <label>
                    <input type="radio" ng-model="linkUrl" value="{{domainName + '/freechat.php'}}" name="linkUrl"/>
                    Free chat page
                  </label>
                  <label>
                    <input type="radio" value="0" ng-model="linkUrl"/>
                    Model chat page
                  </label>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="program">Select campaign:</label>
                  <select class="form-control" name="campaign" id="campaign">
                    <option selected> Select campaign</option>
                    <option ng-repeat="campaign in campaigns.campaigns" value="campaign.id">{{campaign.name}}</option>
                  </select>
                </div>
                <div class="form-group radio-group">
                  <label>Open link:</label>
                  <label>
                    <input type="radio" value="_top" ng-model="target"/>
                    Active window
                  </label>
                  <label>
                    <input type="radio" value="_blank" ng-model="target"/>
                    New window
                  </label>
                </div>
                <div class="form-group radio-group">
                  <label>Attribute (onmouseover):</label>
                  <label>
                    Yes
                    <input type="radio" value="1" ng-model="mouseOverState"/>
                  </label>
                  <label>
                    No
                    <input type="radio" value="0" ng-model="mouseOverState"/>
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control"
                         value="{{'http://' + domainName + '/' + 'programId=' + currentProgramId}}"/>
                  <button class="btn-primary btn">Generate tag link</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>