<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="container-fluid form-groups-wrapper">
        <h1 class="caption"><i class="fa fa-table"></i> Create new campaign</h1>
        <form action="" ng-submit="submit()" name="newCampaign" >
          <div class="row">
          <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
            <div class="content">
              <div class="form-group">
                <label for="campaignName">Campaign(name):</label>
                <input ng-input-validator error-message="errors.name" error-placement="left" type="text" id="campaignName" ng-model="newCampaign.name" name="campaignName" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="campaignDescription">Campaign description:
                <textarea ng-input-validator error-message="errors.description" class="form-control" name="campaignDescription" ng-model="newCampaign.description" id="campaignDescription" cols="70" rows="10"></textarea>
                </label>
              </div>
            </div>
          </div>
        </div>
          <div class="row">
          <div class="col-lg-12 col-md-12" style="text-align: center">
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-huge">
                <i class="fa fa-check"></i> Create new campaign
              </button>
              <button ui-sref="campaign" class="btn btn-default">
               <i class="fa fa-arrow-left"></i> Back
              </button>
            </div>
          </div>
        </div>
        </form>
        <div ng-show="messages" class="informer bg-warning text-center text-warning offset-auto">
          <span class="fui-info-circle"></span> {{ messages }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>